@import "nullstyle.scss";
@import "ibg.scss";


$gilroy: 'Gilroy', sans-serif;


$white: #FFFFFF;
$light: #4fbfa5;
$dark: #00868A;
$black: #000000;
$gray: #B3B3B3;
$bg: rgba(0%, 53%, 54%, 0.2);


.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
body{
  height: 100%;
  font: 14px/22px $gilroy;
  color: $black;
}
.content{
  flex: 1 0 50%;
}
.container{
  width: 1325px;
  margin: 0 auto;
  padding: 0 15px;
}

h1{}
h2{}
h3{}

.header{
  background: $light;
  &__main{
    border-bottom: 1px solid $dark;
  }
  &__row{
    padding: 0 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__recording{}
  &__btn{
    display: inline-block;
    font: 18px/40px $gilroy;
    color: $black;
    background: $white;
    padding: 0 15px;
    transition: all 0.4s ease 0s;
    &:hover{
      background: $dark;
      color: $white;
      transition: all 0.4s ease 0s;
    }
  }
}
.menu{
  display: flex;
  &__link{
    display: block;
    font: 18px/90px $gilroy;
    color: $white;
    padding: 0 30px;
    transition: all 0.4s ease 0s;
    &:hover{
      background: $dark;
      transition: all 0.4s ease 0s;
    }
  }
}
.top-line{
  background: $white;
  height: 90px;
  &__row{
    display: flex;
    border-right: 1px solid $gray;
    align-items: center;
    align-content: stretch;
    flex-wrap: nowrap;

  }
  &__item{
    display: flex;
    flex: 1 1 auto;
    height: 90px;
    border-left: 1px solid $gray;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  &__logo_main{
    display: inline-block;
    width: 82px;
    height: 52px;
    background: url("../images/logo.svg") no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
  }
  &__logo_descr{
    display: inline-block;
    width: 100px;
    height: 28px;
    margin-left: 5px;
    background: url("../images/medi.svg") no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
  }
  &__phone, &__salons{
    font-size: 16px;
    color: $black;
    white-space: nowrap;
    &:hover{
      color: $dark;
    }
  }
  &__salons{
    position: relative;
    padding-right: 30px;
  }
  &__circle{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: block;
    background: $light;
    border-radius: 50%;
    z-index: 1;
    &:before{
      position: absolute;
      top: 8px;
      right: 5px;
      width: 10px;
      height: 10px;
      content: "";
      display: block;
      border-top: 7px solid $white;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      z-index: 2;
    }
  }
  &__block{}
}

.social{
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  &__item{
    display: flex;
    height: 90px;
    width: 80px;
    border-right: 1px solid $gray;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    &:last-child{
      border-right: none;
    }
  }
  &__link{
      display: block;
      width: 24px;
      height: 24px;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.btn{
  display: inline-block;
  text-align: center;
  font: 18px/38px $gilroy;
  padding: 0 25px;
  color: $white;
  background: $dark;
  transition: all 0.4s ease 0s;
  border: 1px solid $dark;
  box-sizing: border-box;
  &:hover{
    background: $light;
    transition: all 0.4s ease 0s;
  }
  &_eye{
    position: relative;
    font: 14px/38px $gilroy;
    color: $white;
    text-transform: uppercase;
    padding: 0 15px 0 50px;
    background: $dark;
    white-space: nowrap;
    &:before{
      position: absolute;
      left: 15px;
      top: 12px;
      display: block;
      width: 26px;
      height: 16px;
      content: "";
      background: url("../images/icon-eye.svg") no-repeat;
      background-size: 100% 100%;
    }
  }
  &_upper{
    font-size: 14px;
    text-transform: uppercase;
  }
  &_light{
    background: $light;
    border: 1px solid $light;
    box-sizing: border-box;
    transition: all 0.4s ease 0s;
    &:hover{
      background: $dark;
      transition: all 0.4s ease 0s;
    }
  }
  &_big{
    font: 18px/48px $gilroy;
    text-transform: uppercase;
  }
}
.title{
  font: bold 48px/52px $gilroy;
  color: $white;
  &_green{
    color: $dark;
    text-align: center;
  }
}
.arrow{
  position: relative;
  width: 50px;
  height: 45px;
  border: 1px solid $white;
  cursor: pointer;
  &:hover{
    background: $light;
    transition: background-color 0.4s ease 0s;
  }
  span{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 1px;
    background: $white;
    &:before{
      position: absolute;
      display: block;
      top: 2px;
      right: -2px;
      width: 7px;
      height: 1px;
      content: "";
      background: $white;
      transform: rotate(-45deg);
    }
    &:after{
      position: absolute;
      display: block;
      top: -2px;
      right: -2px;
      width: 7px;
      height: 1px;
      content: "";
      background: $white;
      transform: rotate(45deg);
    }
  }
  &_reverse{
    span{
      position: relative;
      &:before{
        top: 2px;
        left: -2px;
        transform: rotate(45deg);
      }
      &:after{
        top: -2px;
        left: -2px;
        transform: rotate(-45deg);
      }
    }
  }
}



.first-screen{
  background: $light;
  &__row{
    display: grid;
    grid-template-columns: auto 746px;
    grid-column-gap: 65px;
    grid-template-rows: 530px;
  }
  &__info{
    padding: 0 0 75px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(52px, 100px) auto 50px 50px;
    grid-row-gap: 30px;
    align-items: end;
    align-content: end;
  }
  &__descr{
    color: $white;
    width: 416px;
  }
  &__image{}
  &__image img{
    width: 100%;
    height: 100%;
  }
  &__arrows{
    display: flex;
    justify-content: end;
  }


  &__categories{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }
  &__category{
    display: block;
    font: 21px/80px $gilroy;
    color: $white;
    text-align: center;
    background: $dark;
    transition: all 0.4s ease 0s;
    &:hover{
      color: $black;
      transition: all 0.4s ease 0s;
    }
    &_light{
      background: $light;
      transition: all 0.4s ease 0s;
    }
  }
}

.special{
  padding: 80px 0 80px 0;
  background: $bg;
  &__row{
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
  }
  &__item{
    position: relative;
  }
  &__img{
    display: block;
  }
  &__img img{
    width: 100%;
  }
  &__descr{
    padding: 25px 30px;
    background: $dark;
    display: grid;
    grid-template-columns: auto 50px;
    grid-column-gap: 10px;
    align-items: center;
  }
  &__info{
    font: bold 21px/32px $gilroy;
    color: $white;
  }

}
.special__item .btn{
  position: absolute;
  top: 30px;
  left: 30px;
  text-align: left;
  line-height: 22px;
  padding: 9px 30px;

}

.news{
  padding: 80px 0 100px 0;
  &__row{
    display: grid;
    grid-template-columns: 40% 60%;
  }
  &__control{
    background: $light;
  }
  &__tit{
    padding: 35px 40px;
  }
  &__tabs-links{}
  &__tabs-link{
    display: block;
    font: 18px/28px $gilroy;
    color: $white;
    padding: 35px 40px;
    &_active{
      background: $dark;
    }
  }
  &__tabs-body{
    display: none;
    padding: 35px 60px;
    background: $bg;
    &_active{
      display: block;
    }
  }
  &__hat{
    font: bold 24px/36px $gilroy;
    color: $black;
    margin: 0 0 25px 0;
  }
  &__list{}
  &__list li{
    position: relative;
    margin: 0 0 15px 0;
    padding: 0 0 0 20px;
    &:before{
      position: absolute;
      top: 8px;
      left: 0;
      width: 6px;
      height: 6px;
      display: block;
      content: "";
      background: $dark;
      border-radius: 50%;
    }


    &:last-child{
      margin: 0;
    }
  }

}

.information{
  padding: 80px 0 0 0;
  &__row{
    display: grid;
    grid-template-columns: 40% 60%;
  }
}
.innovation{
  background: $dark;
  &__inner{
    padding: 35px 40px 40px 40px;
  }
  &__title{
    font: 30px/45px $gilroy;
    color: $white;
    padding: 30px 0;
  }
  &__more{
    display: grid;
    grid-template-columns: 50px auto;
    grid-column-gap: 15px;
    align-items: center;
  }
  &__link-more{
    font: bold 16px/24px $gilroy;
    color: $white;
    text-transform: uppercase;
  }
  &__img{}
  &__img img{
    width: 100%;
  }
}
.esthetics{
  padding: 35px 0 20px 134px;
  &__block{
    position: relative;
  }
  &__img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 306px;
    z-index: -1;
  }
  &__img img{
    width: 100%;
  }
  &__list{
    padding: 45px 0 0 0;
  }
  &__item{
    display: grid;
    grid-template-columns: minmax(50px, auto) auto;
    grid-column-gap: 20px;
    align-items: center;
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__number{
    display: block;
    font: bold 48px/72px $gilroy;
    color: $gray;
    &_b{
      font: bold 96px/144px $gilroy;
      color: $dark;
    }
  }
  &__text{
    padding: 0 400px 0 0;
    &_b{
      font: 25px/42px $gilroy;
      color: $black;
      padding: 0 175px 0 0;
    }
  }
}


.footer{
  &__main{
    padding: 80px 0 80px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
  }
  &__col{}
  &__item{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__title{
    font: bold 21px/32px $gilroy;
    margin: 0 0 20px 0;
  }
  &__block{}
  &__sub-link{
    display: block;
    color: $black;
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
    &:hover{
      color: $dark;
      transition: all 0.3s ease 0s;
    }
  }
  &__hat{
    font: bold 11px/20px $gilroy;
    text-transform: uppercase;
    color: $gray;
    margin: 0 0 10px 0;
  }
  &__info{}
  &__descr{
    display: block;
    font: bold 21px/32px $gilroy;
    margin: 0 0 15px 0;
    &:last-child{
      margin: 0;
    }
  }
}
.bottom-line{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  align-content: center;
  border-top: 1px solid $gray;
  border-right: 1px solid $gray;
  border-left: 1px solid $gray;
  box-sizing: border-box;
  &__item{
    border-left: 1px solid $gray;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:first-child{
      border-left: none;
    }
  }
  &__copy{
    display: grid;
    grid-template-columns: 55% 45%;
    grid-column-gap: 5%;
    align-items: center;
    padding: 0 25px;
    font: 12px/18px $gilroy;
    color: $black;
  }
  &__copy-link{
    text-decoration: underline;
    color: $black;
    transition: all 0.4s ease 0s;
    &:hover{
      text-decoration: none;
      transition: all 0.4s ease 0s;
    }
  }
}






